Repository mongodb/intellij, pull requests merged in 2025-04, with the labels that each got.

#173 chore: refactor for ConnectionStateViewModel
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/editor/MongoDbVirtualFileDataSourceProvider.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/connection/ConnectionBootstrapCard.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/connection/OnlyWhenConnected.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/ConnectionStateViewModel.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/editor/MongoDbVirtualFileDataSourceProviderTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/fixtures/IntegrationTestExtensions.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/insightAction/CreateSuggestedIndexInsightActionTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/components/connection/ConnectionBootstrapCardTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/components/connection/OnlyWhenConnectedTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/CodeEditorViewModelTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/ConnectionStateViewModelTest.kt
Labels: no-title-validation

#174 chore: change the query inlay to show index status INTELLIJ-271
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/editor/services/EditorService.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/editor/services/implementations/MdbEditorService.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/i18n/Icons.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inlays/MongoDbQueryIndexStatusInlay.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inlays/MongoDbQueryNamespaceInlay.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/AbstractMongoDbInspectionBridgeV2.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/performance/MongoDbQueryNotUsingIndex.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/performance/MongoDbQueryNotUsingIndexEffectively.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/AnalysisScopeViewModel.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/CodeEditorViewModel.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/ConnectionStateViewModel.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/InspectionsViewModel.kt
  packages/jetbrains-plugin/src/main/resources/META-INF/plugin.xml
  packages/jetbrains-plugin/src/main/resources/messages/InspectionsAndInlaysBundle.properties
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inlays/MongoDbQueryIndexStatusInlayTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inlays/MongoDbQueryNamespaceInlayTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/performance/JavaDriverMongoDbQueryNotUsingIndexEffectivelyTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/performance/JavaDriverMongoDbQueryNotUsingIndexTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/performance/SpringCriteriaMongoDbQueryNotUsingIndexEffectivelyTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/performance/SpringCriteriaMongoDbQueryNotUsingIndexTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/AnalysisScopeViewModelTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/ConnectionStateViewModelTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/InspectionsViewModelTest.kt
  packages/mongodb-access-adapter/src/main/kotlin/com/mongodb/jbplugin/accessadapter/slice/ExplainQuery.kt
  packages/mongodb-access-adapter/src/test/kotlin/com/mongodb/jbplugin/accessadapter/slice/ExplainQueryTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexInspectionEffectivelyTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexInspectionTest.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/Node.kt
  packages/mongodb-mql-model/src/test/kotlin/com/mongodb/jbplugin/mql/NodeTest.kt
Labels: skip-spec-check

#177 chore: migrating field and type checking to the side panel INTELLIJ-249
  .github/workflows/pr-quality-gate.yaml
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/correctness/MongoDbFieldDoesNotExist.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/correctness/MongoDbTypeMismatch.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/impl/FieldCheckInspectionBridge.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/insightAction/InsightAction.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/insightAction/RunQueryInsightAction.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/meta/DialectByName.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/observability/TelemetryEvent.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/inspections/InspectionAccordion.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/utilities/hooks/useTranslation.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/AnalysisScopeViewModel.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/CodeEditorViewModel.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/InspectionsViewModel.kt
  packages/jetbrains-plugin/src/main/resources/META-INF/plugin.xml
  packages/jetbrains-plugin/src/main/resources/messages/InspectionsAndInlaysBundle.properties
  packages/jetbrains-plugin/src/main/resources/messages/SidePanelBundle.properties
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/JavaDriverMongoDbFieldDoesNotExistTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/JavaDriverMongoDbTypeMismatchTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/SpringCriteriaMongoDbFieldDoesNotExistTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/SpringCriteriaMongoDbTypeMismatchTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/impl/JavaDriverFieldCheckLinterInspectionTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/impl/SpringCriteriaFieldCheckLinterInspectionTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/insightAction/InsightActionFixtures.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/insightAction/RunQueryInsightActionTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/CodeEditorViewModelTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/InspectionsViewModelTest.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/QueryInsight.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/correctness/FieldDoesNotExistInspection.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/correctness/TypeMismatchInspection.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/QueryInspectionTestUtils.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/correctness/FieldDoesNotExistInspectionTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/correctness/TypeMismatchInspectionTest.kt
Labels: skip-spec-check

#185 chore: allows enabling / disabling of inspections straight from the MongoDB Sidepanel INTELLIJ-263
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/i18n/Icons.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/AbstractMongoDbInspectionBridgeV2.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/inspections/InspectionAccordion.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/inspections/InspectionScopeSettings.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/utilities/ActionLink.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/utilities/MoreActionsButton.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/AnalysisScopeViewModel.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/InspectionsViewModel.kt
  packages/jetbrains-plugin/src/main/resources/icons/DisabledInspection.svg
  packages/jetbrains-plugin/src/main/resources/messages/InspectionsAndInlaysBundle.properties
  packages/jetbrains-plugin/src/main/resources/messages/SidePanelBundle.properties
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/components/inspections/InspectionAccordionTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/AnalysisScopeViewModelTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/viewModel/InspectionsViewModelTest.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/QueryInsight.kt
Labels: skip-spec-check

#187 chore: corrects the visibility of DatabaseComboBox INTELLIJ-291
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/editor/MongoDbVirtualFileDataSourceProvider.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/connection/ConnectionBootstrapCard.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/CodeEditorViewModel.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/fixtures/IntegrationTestExtensions.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/ui/components/connection/ConnectionBootstrapCardTest.kt
Labels: no-title-validation

#192 fix: fixes inspection hierarchy for inspection runs INTELLIJ-293
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inlays/MongoDbQueryIndexStatusInlay.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inlays/MongoDbQueryIndexStatusInlayTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/JavaDriverMongoDbFieldDoesNotExistTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/JavaDriverMongoDbTypeMismatchTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/SpringCriteriaMongoDbFieldDoesNotExistTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/correctness/SpringCriteriaMongoDbTypeMismatchTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/environmentmismatch/JavaDriverMongoDbCollectionDoesNotExistTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/environmentmismatch/JavaDriverMongoDbNoCollectionSpecifiedTest.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/correctness/FieldDoesNotExistInspection.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/correctness/TypeMismatchInspection.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/environmentmismatch/CollectionDoesNotExistInspection.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/environmentmismatch/DatabaseDoesNotExistInspection.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexEffectivelyInspection.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexInspection.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/QueryInspectionTestUtils.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/correctness/FieldDoesNotExistInspectionTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/correctness/TypeMismatchInspectionTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/environmentmismatch/CollectionDoesNotExistInspectionTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/environmentmismatch/DatabaseDoesNotExistInspectionTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/environmentmismatch/NoDatabaseInferredInspectionTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexInspectionEffectivelyTest.kt
  packages/mongodb-mql-engines/src/test/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexInspectionTest.kt
Labels: skip-spec-check

#194 chore: update max version to latest 251
  .github/workflows/act-draft-release.yaml
  .github/workflows/pr-quality-gate.yaml
  buildSrc/src/main/kotlin/com.mongodb.intellij.plugin-component.gradle.kts
  gradle/libs.versions.toml
Labels: no release notes, no-title-validation, skip-spec-check

#195 fix: feature side panel toggle and upgrade to 2025
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/meta/NodeEx.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/settings/PluginSettings.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/settings/PluginSettingsConfigurable.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/components/SidePanel.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/ui/viewModel/ConnectionStateViewModel.kt
  packages/jetbrains-plugin/src/main/resources/messages/SettingsBundle.properties
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/settings/PluginSettingsTest.kt
Labels: no release notes, no-title-validation

#197 chore: do not run index suggestions on queries that won't use indexes INTELLIJ-299
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexEffectivelyInspection.kt
  packages/mongodb-mql-engines/src/main/kotlin/com/mongodb/jbplugin/linting/performance/QueryNotUsingIndexInspection.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/components/IsCommand.kt
  packages/mongodb-mql-model/src/test/kotlin/com/mongodb/jbplugin/mql/components/IsCommandTest.kt
Labels: skip-spec-check

#201 chore: fix issue when methods refer to non existing classes or interfaces INTELLIJ-305
  packages/mongodb-dialects/java-driver/src/main/kotlin/com/mongodb/jbplugin/dialects/javadriver/glossary/NamespaceExtractor.kt
  packages/mongodb-dialects/java-driver/src/main/kotlin/com/mongodb/jbplugin/dialects/javadriver/glossary/PsiMdbTreeUtil.kt
  packages/mongodb-dialects/java-driver/src/test/kotlin/com/mongodb/jbplugin/dialects/javadriver/glossary/NamespaceExtractorTest.kt
Labels: skip-spec-check

#203 fix: disable actions on queries with unsupported features INTELLIJ-301
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/codeActions/AbstractMongoDbCodeActionBridge.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/codeActions/MongoDbCodeAction.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/codeActions/impl/RunQueryCodeActionBridge.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/editor/CachedQueryService.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inlays/MongoDbQueryIndexStatusInlay.kt
  packages/jetbrains-plugin/src/main/kotlin/com/mongodb/jbplugin/inspections/AbstractMongoDbInspectionBridgeV2.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/codeActions/impl/JavaDriverRunQueryCodeActionTest.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/Node.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/components/IsCommand.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/components/Named.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/parser/Parser.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/parser/components/IsCommand.kt
  packages/mongodb-mql-model/src/main/kotlin/com/mongodb/jbplugin/mql/parser/components/Named.kt
  packages/mongodb-mql-model/src/test/kotlin/com/mongodb/jbplugin/mql/NodeTest.kt
Labels: skip-spec-check

#204 fix: correctly parses Namespace when multiple queries are in the same method INTELLIJ-165
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/environmentmismatch/JavaDriverMongoDbCollectionDoesNotExistTest.kt
  packages/jetbrains-plugin/src/test/kotlin/com/mongodb/jbplugin/inspections/environmentmismatch/JavaDriverMongoDbDatabaseDoesNotExistTest.kt
  packages/mongodb-dialects/java-driver/src/main/kotlin/com/mongodb/jbplugin/dialects/javadriver/glossary/JavaDriverDialectParser.kt
  packages/mongodb-dialects/java-driver/src/main/kotlin/com/mongodb/jbplugin/dialects/javadriver/glossary/NamespaceExtractor.kt
  packages/mongodb-dialects/java-driver/src/main/kotlin/com/mongodb/jbplugin/dialects/javadriver/glossary/PsiMdbTreeUtil.kt
  packages/mongodb-dialects/java-driver/src/test/kotlin/com/mongodb/jbplugin/dialects/javadriver/glossary/NamespaceExtractorTest.kt
Labels: skip-spec-check
